<link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

<header>
  <div id="page_title">
      <h2>Add a member</h2>
  </div>
</header>

<div class="post">
  <form method="POST" action="{{ url_for('create_member') }}">
    <p class="form_text">Name:<input class="text_field" type="text" id="Name" name="Name" /><br/></p>
    <p class="form_text center">Contact Information:<textarea class="text_field" type="text" id="ContactInfo" name="ContactInfo"></textarea></p>
    <p>
      <input class="delete_button" type="reset" value="Reset" />
      <input class="create_button" type="submit" name="post-btn" value="Create" />
    </p>
  </form>
</div>
<a class="home_button" href="{{ url_for('show_member')}}">Return</a>