<h2>Create an Post</h2>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Post Title: <input type="text" id="title" name="title" /><br /></p>
  <p>Post Theme: <input type="text" id="theme" name="theme" /><br /></p>
  <p>Post Date & Location: <input type="text" id="date_location" name="date_location" /><br /></p>
  <p>
    Post Summary:
    <textarea type="text" id="summary" name="summary"></textarea>
  </p>
  <p>
    <input type="reset" value="Reset" />
    <input type="submit" name="post-btn" value="Create" />
  </p>
  <a href="{{ url_for('show_post')}}">Return</a>
</form>