{% block container %}

<h2>Edit Post</h2>
<form method="POST" action="{{ url_for('edit_post', post_id=doc._id) }}">
    <h4>Title</h4>
    <input type="text" id="title" name="title" value="{{doc.title}}" placeholder="title"/>
    <br />
    <h4>Theme</h4>
    <input type="text" id="theme" name="theme" value="{{doc.theme}}" placeholder="theme"/>
    <h4>Date & Location</h4>
    <input type="text" id="date_location" name="date_location" value="{{doc.date_location}}" placeholder="date_location"/>
    <br />
    <h4>Summary</h4>
    <textarea id="summary" name="summary" placeholder="summary">{{doc.summary}}</textarea>
    <br />
    <input type="submit" value="Save" />
</form>
<a href="{{ url_for('show_post')}}">Cancel</a>
{% endblock %}