

{% block container %}
<h2>Edit Member Information</h2>

<form method="POST" action="{{ url_for('edit_member', member_id=doc._id) }}">
    <h4>Member Name</h4>
    <input type="text" id="Name" name="Name" value="{{doc.Name}}" placeholder="Your name"/>
    <br />
    <h4>Contact Information</h4>
    <textarea id="ContactInfo" name="ContactInfo" placeholder="ContactInfo">{{doc.ContactInfo}}</textarea>
    <br />
    <input type="submit" value="Save" />
</form>
<a href="{{ url_for('show_member')}}">Cancel</a>

{% endblock %}