<link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
{% block container %}

<header>
    <div id="page_title">
        <h2>Events</h2>
    </div>
</header>

<body>
    <form method="POST" >
        <input class="text_field" type="text" id="search" name="search" />
        <input class="create_button" type="submit" name="post-btn" value="Search" />
    </form>
    <form method="GET" >
        {% for doc in docs %}
        <div class="post">
            <h2 class="post_title">{{doc.Title}}</h2>
            <div class="post_description">
                <p>{{doc.Summary}}</p>
            </div>
        <a class="delete_button" href="{{ url_for('delete_event', event_id=doc._id)}}">Delete</a>
        <a class="edit_button" href="{{ url_for('edit_event', event_id=doc._id)}}">Edit</a>
        </div>
    </form>
</body>

{%endfor%}
<div class="row">
    <a class="home_button" href="{{ url_for('show_event')}}">Return to Event List</a>
    <a class="create_button" href="{{ url_for('create_event')}}">Create New Event</a>
    <a class="home_button" href="{{ url_for('home')}}">Home Page</a>
</div>
<br>

{% endblock %}